.menu-container {
  display: none;
  // transform: translateX(100%);
  // position: absolute;

  @media screen and(min-width:$tablet) {
    display: flex;
    margin-left: 87px;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and(min-width:$desktop) {
    align-items: center;
    margin-left: 93px;
  }
}

.mobile-menu-button {
  border: 0;
  background-color: transparent;
  display: flex;
  margin-left: auto;
  .icon-cross {
    display: none;
    fill: currentColor;
  }
  .icon-burger {
    fill: currentColor;
  }

  // &.is-open .icon-burger {
  //   display: none;
  // }

  &.is-open {
    .icon-cross {
      display: block;
    }
    .icon-burger {
      display: none;
    }

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  @media screen and(min-width:$tablet) {
    display: none;
  }
}
