.menu-container {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;

  padding: 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  transition-property: transform;
  transition-duration: var(--main-transition-duration);
  transition-timing-function: var(--main-transtition-timing-function);

  &.is-open {
    transform: translateX(0);
    z-index: 1;
  }

  @media screen and(min-width:$tablet) {
    display: flex;
    margin-left: 87px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: static;
    flex-direction: row;
    padding: 0;
    transform: translateX(0);
    transition-property: none;
  }

  @media screen and(min-width:$desktop) {
    align-items: center;
    margin-left: 93px;
  }
}

.menu-container__open-button,
.menu-container__close-button {
  border: 0;
  background-color: transparent;
  display: flex;
  margin-left: auto;
  padding: 0;

  .icon-cross,
  .icon-burger {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and(min-width:$tablet) {
    display: none;
  }
}

.menu-container__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  margin-left: 0;
}
