.footer {
  background-color: var(--secondary-accent-color);
  color: var(--white-color);
  padding: 60px 0;
  text-align: center;
}

.footer__container {
  @media screen and (min-width: $desktop) {
    & {
      display: flex;
      align-items: baseline;
    }
  }
}
