.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: var(--hero-background-color);
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  @media screen and (min-width: $phone) {
    & {
      max-width: 480px;
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      max-width: 768px;
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(
          var(--hero-background-color),
          var(--hero-background-color)
        )
        url(../images/hero-background-image.jpg);
    }
  }
}

.hero__title {
  // width: 360px;
  font-size: 26px;
  line-height: 1.62;

  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;

  @media screen and(min-width:$desktop) {
    & {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }
}

.hero__button {
  width: 201px;
  margin-top: 30px;
  padding: 10px 24px;

  @media screen and(min-width:$desktop) {
    width: 216px;

    padding: 10px 0;
  }
}
