.page-header {
  border-bottom: 1px solid var(--header-border-color);
  overflow: hidden;
  // position: relative;
}

.page-header__container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
